---
interface Props {
  name: string;
  slug: string;
  imageSrc: string;
  videoSrc: string;
  videoStyle: string;
  wrapperClass?: string;
}

const { name, slug, videoSrc, videoStyle, wrapperClass = "" } = Astro.props;
---

<div
  class={`project-item opacity-0 w-max relative flex items-center group ${wrapperClass}`}
  data-video={videoSrc}
  video-style={videoStyle}
>
  <a href={`/proyectos/${slug}`}>
    <h3
      class="project-title bg-yellow text-shadow-none text-black font-space-mono-bold text-3xl lg:text-4xl uppercase px-1 leading-none transition-all duration-300 cursor-pointer block tracking-tighter hover:invert group-hover:z-10"
    >
      {name}
    </h3>
  </a>
</div>
