---
import Layout from "../../layouts/Layout.astro";
import projects from "../../data/projects";
import Marquee from "../../components/marquee.astro";
import ResponsiveImage from "../../components/ResponsiveImage.astro";

import ResponsiveVideo from "../../components/ResponsiveVideo.astro";
import BackBtn from "../../components/BackBtn.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;

// Find next project index
const currentIndex = projects.findIndex((p) => p.slug === project.slug);
const nextProject = projects[(currentIndex + 1) % projects.length];
---

<Layout title={`${project.title} - Mariano Juarez`}>
  <div class="project-page min-h-screen flex flex-col bg-white text-black">
    <header
      class="bg-yellow flex flex-col md:relative md:justify-center md:pt-4 overflow-hidden"
    >
      <div class="w-full flex items-center order-1 md:order-0">
        <Marquee color="bg-yellow text-black" />
      </div>
      <div
        class="px-3 lg:px-0 pt-2 md:pt-0 md:absolute md:bottom-0 z-10 md:flex md:items-center md:pointer-events-none order-2 md:order-0"
      >
        <a
          href="/"
          class="font-raster font-bold text-5xl md:text-6xl md:pointer-events-auto md:bg-yellow lg:px-8"
        >
          <span
            class="name-style name-style-small leading-{0.95] hidden md:block"
            >Mariano Juarez</span
          >
          <span class="name-style name-style-small leading-{0.95] md:hidden"
            >MJ</span
          >
        </a>
      </div>
    </header>

    <main class="grow px-3 lg:px-8 pt-6 md:pt-0" id="main-content">
      <div
        class="grid grid-cols-1 lg:grid-cols-12 gap-10 lg:gap-2 items-start relative"
      >
        <!-- Text Content -->
        <aside
          class="space-y-4 lg:col-span-4 2xl:col-span-3 lg:sticky lg:top-[50dvh] lg:-translate-y-1/2 flex flex-col justify-center font-space-mono"
        >
          <BackBtn />

          <h1
            class="font-space-mono-bold text-3xl md:text-4xl 2xl:text-5xl tracking-tight leading-none uppercase"
          >
            {project.title}
          </h1>

          <p
            class="inline-block font-space-mono text-sm leading-tight lg:text-base text-justify uppercase"
          >
            <span class="bg-yellow text-black box-decoration-clone">
              {project.description}
            </span>
          </p>
        </aside>

        <!-- Media Gallery -->
        <section
          class="lg:col-span-8 2xl:col-span-9 grid gap-4 lg:gap-0 md:grid-cols-2 relative lg:mt-6"
          aria-label="Galería de medios del proyecto"
        >
          {
            project.media.map((item, index) => (
              <figure
                class={`draggable-item relative group rounded-sm md:cursor-grab md:active:cursor-grabbing select-none md:touch-none max-w-5xl mx-auto ${item.fullWidth ? "md:col-span-2 w-full" + (item.margin ? " md:my-10" : "md:-my-16") : "lg:w-[35vw] 2xl:w-[40vw]" + (!item.fullWidth && index % 2 !== 0 ? "mt-10 md:mt-12" : "")}`}
              >
                {item.type === "video" ? (
                  <ResponsiveVideo src={item.src} />
                ) : (
                  <ResponsiveImage src={item.src} alt={item.caption} />
                )}
                {item.caption && (
                  <figcaption class="mt-4 font-space-mono text-sm uppercase tracking-widest opacity-50 p-2">
                    {item.caption}
                  </figcaption>
                )}
              </figure>
            ))
          }
        </section>
      </div>
    </main>

    <footer
      class="md:sticky md:bottom-4 md:left-0 flex flex-col md:flex-row items-center gap-8 md:items-end justify-between w-full px-3 lg:px-8 z-50 md:gap-0 pointer-events-none my-10"
    >
      <p
        class="order-2 md:order-0 max-w-xs font-space-mono-bold text-[10px] sm:text-xs pointer-events-auto text-justify"
      >
        <span class="bg-yellow text-black px-1 uppercase box-decoration-clone"
          >@MarianoJuarez.2026. All rights reserved. By using this site, you
          agree to our privacy policy and the processing of personal data.</span
        >
      </p>
      <a
        href={`/proyectos/${nextProject.slug}`}
        class="p-1.5 pointer-events-auto"
      >
        <span class="inline-block bg-yellow text-black px-0.5 uppercase box-decoration-clone font-space-mono-bold text-2xl leading-none hover:blur-[1.5px] transition-all duration-300"
          >Siguiente proyecto →</span
        >
      </a>
    </footer>
    <!-- Footer / Next Project -->
    <!-- <footer class="bg-black text-white py-24 px-3 lg:px-8 overflow-hidden relative">
      <div class="max-w-7xl mx-auto relative z-10">
        <div class="flex flex-col md:flex-row justify-between items-center gap-12">
          <div class="text-center md:text-left">
            <span class="block font-space-mono text-yellow uppercase tracking-widest mb-4 opacity-70">
              ¿Vemos más?
            </span>
            <a href={`/proyectos/${nextProject.slug}`} class="group block">
              <h2 class="text-with-border-white text-6xl md:text-9xl transition-all group-hover:blur-[2px]">
                {nextProject.title}
              </h2>
            </a>
          </div>
          
          <div class="flex flex-col items-center md:items-end gap-8">
            <a href={`/proyectos/${nextProject.slug}`} class="bg-yellow text-black px-12 py-6 font-space-mono-bold text-2xl uppercase hover:scale-105 transition-transform">
              Siguiente →
            </a>
            <p class="font-space-mono text-sm opacity-50">Mariano Juarez © 2026</p>
          </div>
        </div>
      </div>
       -->
    <!-- Decorative background text -->
    <!-- <div class="absolute inset-0 flex items-center justify-center opacity-5 select-none pointer-events-none">
        <span class="text-[30vw] font-raster whitespace-nowrap leading-none uppercase">
          {nextProject.title}
        </span>
      </div>
    </footer> -->
  </div>
</Layout>

<script>
  import "../../scripts/draggableProject.ts";
</script>

<style>
  @reference "../../styles/global.css";

  .project-page {
    position: relative;
    cursor: default;
    background-color: #fff;
    overflow-x: clip;
    z-index: 0;
  }

  .project-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/noise.webp");
    background-repeat: repeat;
    /* opacity: 0.12; */
    pointer-events: none;
    z-index: -1;
  }

  .draggable-item {
    transition: transform 0.05s linear;
    will-change: transform;
  }

  .draggable-item:active {
    /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); */
  }

  /* Custom scrollbar for a more premium feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-gray);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
</style>
